{% set fields = form.fields() %}
{% set actions = form.actions() %}
{% set htmlForm = active_form_begin({
    'options' : form.options,
}) %}
<div class="white-bg wrapper-content">
<h3>{{ entity.slug|trans({},"admin") }}</h3>
<div class="model-form row">
    <div class="col-md-12">
        {% for attribute,field in fields %}
            {% set visible = true %}
            {% if field == false or (field['visible'] is defined and field['visible'] == false) %}
                {% set visible = false %}
            {% endif %}
            {% if visible %}
                {% set options = {} %}
                {% if field['fieldOptions'] is defined %}
                    {% set options = field['fieldOptions'] %}
                    {{ unset(field,'fieldOptions')}}
                {% endif %}
                {{ htmlForm.field(model, attribute, options).widget(field['class'], field)|raw }}
            {% endif %}
        {% endfor %}
        {# Render fields #}
    </div>
</div>
</div>
    <div>&nbsp;</div>
    <div class="well well-small form-actions">
        {% for button in buttonsEntity %}
            {{ button|raw }}
        {% endfor %}
    </div>
{{ active_form_end() }}
